/* styles.css */

/* Reset default browser styles */
body, h1, h2, h3, p, ul, ol {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
  
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 20px
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

main {
  margin-top: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
ol {
  text-align: center;
  list-style-position: inside;
}


a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  text-align: center;
}
a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: pink;  }
